In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -1.089436
2011-01-05    0.457237
2011-01-07   -1.563094
2011-01-08    0.114096
2011-01-10    2.546007
2011-01-12    1.976652
dtype: float64

In [2]:
print("\nDate Index alone from the series:",ts.index)

Date Index alone from the series: DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
stamp=ts.index[2]
print(&quot;\nSecond index:\n&quot;, stamp)

In [4]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    0.229970
2000-01-02    0.568249
2000-01-03   -0.393072
2000-01-04   -0.653048
2000-01-05   -1.157816
                ...
2002-09-22   -0.239502
2002-09-23    1.047318
2002-09-24    0.833208
2002-09-25   -0.145820
2002-09-26    1.332277
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.316588
2001-01-02    1.504120
2001-01-03    1.094263
2001-01-04    0.465449
2001-01-05   -2.182954
                ...
2001-12-27    0.620410
2001-12-28   -0.117367
2001-12-29    0.528203
2001-12-30   -1.347464
2001-12-31    0.596647
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.369180
2001-05-02   -0.484055
2001-05-03   -0.032564
2001-05-04    1.122963
2001-05-05   -0.555378
2001-05-06   -0.266872
2001-05-07   -1.781071
2001-05-08   -0.090822
2001-05-09   -1.171324
2001-05-10   -1.109712
2001-05-11   -0.525311
2001-05-12   -0.112946
2001-05-13   -1.028267
2001-05-14    0.198019
2001-05-15   -0.760026
2001-05-16    0.280191
2001-05-17    0.341099
2001-05-18    0.292471
2001-05-19   -1.231421
2001-05-20    0.818922
2001-05-21    0.716141
2001-05-22   -1.231973
2001-05-23   -0.302376
2001-05-24   -0.913359
2001-05-25   -0.637373
2001-05-26    0.500112
2001-05-27    2.118931
2001-05-28   -0.091196
2001-05-29   -0.931799
2001-05-30    0.912897
2001-05-31   -1.683601
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    0.229970
2000-01-02    0.568249
2000-01-03   -0.393072
2000-01-04   -0.653048
2000-01-05   -1.157816
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.650032
2000-02-02   -0.407302
2000-02-03    1.304775
2000-02-04    0.412335
2000-02-05    1.247261
2000-02-06   -2.027325
2000-02-07    0.658794
2000-02-08    0.562697
2000-02-09   -0.051084
2000-02-10   -0.142563
2000-02-11   -2.081865
2000-02-12   -0.891701
2000-02-13   -0.108625
2000-02-14   -0.472225
2000-02-15    0.975437
Freq: D, dtype: float64

In [9]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.564669
2000-09-27    1.675459
2000-09-28   -1.720460
2000-09-29    0.651591
2000-09-30    0.699897
                ...
2002-09-22   -0.239502
2002-09-23    1.047318
2002-09-24    0.833208
2002-09-25   -0.145820
2002-09-26    1.332277
Freq: D, Length: 731, dtype: float64

In [10]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26    0.002447
2001-09-27    1.230765
2001-09-28   -1.720611
2001-09-29    0.867665
2001-09-30   -0.750512
                ...
2002-09-21    0.743941
2002-09-22   -0.239502
2002-09-23    1.047318
2002-09-24    0.833208
2002-09-25   -0.145820
Freq: D, Length: 365, dtype: float64