In [2]:
import datetime
a=datetime.datetime.now()
print("today-now function:",a)
today=datetime.datetime.today()
print("\ntoday:",today)

today-now function: 2025-04-11 05:11:14.381821

today: 2025-04-11 05:11:14.382007

In [3]:
tomorrow=today+datetime.timedelta(days=1)
print("\ntomorrow:",tomorrow)

tomorrow: 2025-04-12 05:11:14.382007

In [4]:
tomorrow=today+datetime.timedelta(days=2)
print("\ntomorrow:",tomorrow)

tomorrow: 2025-04-13 05:11:14.382007

In [5]:
yesterday=today-datetime.timedelta(days=2)
print("\nyesterday:",yesterday)

yesterday: 2025-04-09 05:11:14.382007

In [6]:
a=datetime.datetime.now()
b=datetime.datetime(2020,6,8,23,10,25,404040)
print("\ndate format [2020,6,8,23,10,25,404040)",b)

date format [2020,6,8,23,10,25,404040) 2020-06-08 23:10:25.404040

In [7]:
from datetime import date
d=date(2024, 12, 31)
print("\nReplacing date",d,d.replace(day=15))

Replacing date 2024-12-31 2024-12-15

In [8]:
t=date(2004,4,17)
d=date(2004,4,17).ctime()
print("\nDay and Month:",t,d)

Day and Month: 2004-04-17 Sat Apr 17 00:00:00 2004

In [9]:
today=date.today()
print("\nToday:",today)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:",today.day)

Today: 2025-04-11
Current year: 2025
Current month: 4
Current day: 11